body {
    
    background-color: #F8F8F8;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.logo {
    width: 80px;
    height: auto;
    margin-top: 5px;
    margin-left: 50px;
}


/* Top Header */
.bgtop {
    background-size: cover;
    background-color:white;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: #666;
}

.scrolled {
    background-color: #ffffff;
}
/* Top Header */

/* Tabs */
.menu {
    font-size: x-large;
    display: flex;
    align-items: left;
    margin-left: 10px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin: 0 8px;
    transition: color 0.5s ease;
    padding: 8px 15px;
    transition: border-color 0.5s ease-in-out;
    transition: color 0.5s ease;
}

.menu a:hover {
    border-bottom: 4px solid seagreen;
    color: seagreen;

}

.log-sign {
    margin-left: auto;
}

.log{
        text-decoration: none;
        display: inline-block; 
        padding: 10px 20px; 
        font-size: 16px;
        font-style: normal;
        color: white;
        border-radius: 20px;
        border: 1px;
        cursor: pointer;
        transition: color 0.5s ease;
        transition: background-color 0.5s ease;
        background-color: seagreen;
    
    
}


    .log:hover{
        color: rgb(0, 0, 0);
        background-color: #34CF4E ;

    
        
    }
    
    
    .sign:hover {
        background-color: #1eaf5dd5;
        color:black;
    }

.log {
    margin-right: 50px; 
}

/* Tabs */

/* Content */
.container {
    text-align: left;
    background-image: url('PTC Background.jpg');
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin-top:7.9%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container::before {
    content: "";
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.3); 
    z-index: -1; 
  }

h1 {
    margin-left:100px;
}

.intro {
    max-width: 800px;
    margin-top:50px;
    color: rgb(255, 255, 255);
    margin-left:auto;
    margin-right: 300px;
    text-align: right;

}

.intro p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    margin-left:100px;
}
.menu-button {
    background-color: #2E8B57;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-left:100px;
    
}

.menu-button a {
    text-decoration: none;
}

.menu-button:hover {
    background-color:  #46a871;
    text-decoration: none;
}

/* CATEGORY */
.category_container {
    width: 100%;
    height: 60vh;
    
}

.ctg {
    text-align: center;
    font-size:large;
    align-items: center;
    margin: 10%;

}

.ctg a { 
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin: 150px;
    transition: color 0.5s ease;
    padding: 8px 15px;
    border-radius:20px;
    transition: border-color 0.5s ease, background-color 0.5s ease;
}

.ctg a:hover {
    background-color: #D6D6D6;
    border-radius: 20px;
    border-bottom: #2E8B57;
}



.lg {
    height: auto;
    width: 20%;
    margin:65px;
    font-size: large;
}

.bottom-content {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.explore-text h3 {
    color: #333;
    font-size: 24px;
}

.explore-text p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.explore-button {
    background-color:seagreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color:#58f89d;
}


/* Content */

/* footer */
.footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #2E8B57;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
/* Tabs */

.lg {
    height: auto;
    width: 20%;
    margin: 65px;
    font-size: large;
    transition: transform 0.3s ease, filter 0.5s ease; /* Added transition for smoother hover effect */
    
}

.lg:hover {
    transform: scale(1.05); /* Enlarge on hover */
    filter: drop-shadow(-4mm 0 4mm rgba(146, 146, 146, 0.712));
}

